.orders_table {
  .table-body > tr {
    &:nth-child(2n) {
      background: none;
    }
    &:hover {
      background: none;
    }
  }
  td {
    white-space: nowrap;
    border-bottom: 1px solid #eee;
    border-bottom-color: rgba(0, 0, 0, 0.08);
  }
  padding: 20px 0;
  .fw {
    letter-spacing: -1px;
    font-family: monospace;
  }
  .pager {
    width: 206px;
    height: 22px;
    margin: 5px auto;
    line-height: 18px;
  }
  .prod {
    padding: 0;
    table {
      width: 100%;
      td {
        padding: 10px 30px;
        vertical-align: middle;
        border-bottom: 1px solid #ccc;
        background: #fff;
      }
      .item-image {
        width: 72px;
      }
      .item-image img {
        width: 72px; height: 72px;
      }
      .item-name { width: 45%; }
      .item-quantity, .item-quantity input {
        width: 30px;
        text-align: center;
      }
      .item-price, .item-subtotal { width: 50px; }
    }
  }
  pre {
    font-size: 13px;
    line-height: 14px;
    margin: 5px 0;
  }
}

.xlsx {
  background: url(data:image/gif;base64,R0lGODlhEAAQANU/AOj05yt3K22lW5nKl6mqqSuGL87PztTU1Nna2bjMtvj+9rKystPk0/7//Yq3iFSINGmtZ4K5fz17HYimhuHr3MzizLu9u3G3bPL47iNjHuvu6svaw6PKpsHDwPj/8/r/+Lzcucreyvz/+8bRxLzSu9be1efn5zRxDx9tHt3j2Xarc8DfvyJfHaLOm5+fn+Dw3rLYsZ29kdbr18nKyUmYQ2+2aqXRomywcre4tzFuC5/SnJPIkOv36ySNLf///////yH5BAEAAD8ALAAAAAAQABAAAAbJwN+PcaP1jkik8Mfp7WS8qDTaE4YKKwBMx+0OeNUfZADYmc/mb7hQGUQYoUoFBLMNGBBhIeWI+P4+DYINIiIaCGwqDj4PDwKDhR8IBwEkGRM+GDk5MS8XFzsAMwaVLAmBGycnAjU2CgodpCQsGoIvNDkSIB8fCjgGKCMBgiufEjkCEC0eCwcoCZggEZ8QJ8gvGATOMSOCIr0eMZs8FM0oKBMjJd+8Ch7vGwsIPyYzCwQuBAQWsSkUJTjm0UMwycCMDhbuEcAxQ0MQADs=);
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  margin: 0 0 0 5px;
  &:hover {
    background-color: initial !important;
  }
}

.redtext {
  color: red;
}

@media only print {
	body.printable {
	  background: #fff;
    .header {
      display: none;
    }
    .nav {
      display: none;
    }
    .copy {
      display: none;
    }
    h2.title {
      width: auto;
    }
    table.table {
      border-collapse: collapse;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      .table-head > tr > th {
        text-shadow: none;
        background: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .table-foot {
        display: none;
      }
    }
    a {
      color: #000;
    }
	}
  .hide_when_print {
    display: none;
  }
}
