block variables
  title = "8WINE优势"

extends ../layouts/default

block content
  .about.content.whtbg
    h2.title 8WINE优势
    p(style='font-weight: bold') 100%原瓶进口，假一赔十
    p 优质品牌渠道，网络经营，减少中间环节以及实体运营成本，使红酒室所售葡萄酒在品质和价格上更有优势。
    p 100%原瓶进口：严格遵守中华人民共和国合法程序进货，每款葡萄酒都拥有出入境检验检疫卫生证书。
    p 假一赔十：若发现在红酒室购得假酒，若经查实（专家及工商局介入），承诺赔付10瓶此款正品葡萄酒。
    p(style='font-weight: bold') 顺德本地专车配送，满200元免配送费 
    p 一般在网上购买酒类产品都会有快递损坏的风险，虽然破损风险商家承担，但无形的成本也会落在客户身上，而且还会收货不及时造成不便。红酒室服务于顺德本土市场，购酒有工作人员专车安排发货，绝对保证“零”损坏，把每瓶酒的风险成本让利每一位红酒室支持者。
    p 运费事项：网站酒品价格不含运费，200元以下需加6元配送费，一次性购买满200元免费配送（限顺德本地）
    p(style='font-weight: bold') 自建物流
    p 以简单、快捷的本地服务类O2O电子商务模式为广大本土市民所用，客户通过在线QQ客服或电话下单成功后，工作人员将会在48小时内安排送货上门；客户签收前注意核对销售单据上酒品种类、数量是否和订单一致。
    p(style='font-weight: bold') 7天包退，15天包换
    p 红酒室所售酒品均为100%原瓶进口葡萄酒，并可提供发票。所售葡萄酒将严格遵守国家三包法规，针对所售商品履行更换和退货义务，红酒室承诺自您签收商品之日起可7日内退货，15日内退换。
    p 退换说明：
    p 1、客户签收时应当场开箱验货，核对酒品种类、数量、规格、金额是否与订单一致，确认无误签收后
    p 2、退换酒品酒瓶需完好无缺、未曾开封不影响二次销售，发票或销售单据需保存完好，酒瓶开封或发票、销售单据丢失不予退换。
    p 3、客户在满足以上条件时致电或联系在线客服，将由工作人员上门服务，每个订单只免费享受一次退换货服务。
    p 4、退换范围仅限顺德本地。
