block variables
  title = "超值组合"

extends ../layouts/default

block content
  #main-slider.sliderkit.none_if_mobile
    .sliderkit-panels
      .sliderkit-btn.sliderkit-go-btn.sliderkit-go-prev
        a(href='#', title='Previous')
          span Previous
      .sliderkit-btn.sliderkit-go-btn.sliderkit-go-next
        a(href='#', title='Next')
          span Next
      .sliderkit-panel
        a()
          img.lazy(data-src='/images/home/billboard-03.jpg', alt='超值组合任意2款立减8元')  
  - show_only_category = "assortment"
  include find_partial
