block variables
  title = "产品库"

extends ../layouts/default

block content
  #typeselector
    ul.navmenu
      li.active
        a(data-filter='*', href='#') 全部
      - filters = {}
      - each category, category_key in products
        - each product, model in category
          - if (product.filter)
            - each filter in product.filter
              - filters[filter] = ''
      - each v, filter in filters
        li
          a(data-filter='.'+filter, href='#')=filter
  #productfilter.productfilter
    - each category, category_key in products
      - each product, model in category
        .pfitem(class=product.filter)
          a(href=product.path)
            img(src=product.image)
            br
            =product.name
    .clearfix
