block variables
  title = "酒会兴趣班"

extends ../layouts/default

block content
  .about.content.whtbg
    h2.title 酒会兴趣班
    p 喝酒不如品酒，品酒不如懂酒。
    p 初次接触葡萄酒的朋友会有很多疑问而又不知从何处入手，我们与您一起揭开葡萄酒文化神秘面纱!
    p 我们会专业引导您深入了解葡萄酒的万千世界，帮助您解决日常挑选葡萄酒的烦恼，让您能够用专业的眼光去判定一瓶葡萄酒。
    p 红酒室首期兴趣班年后即将开班，现正接受报名.......
    p 讲师：ISG（International Sommelier Guild）国际侍酒师认证专业二级讲师
    p 地点：容桂东逸湾倚湖居10座702
    p 人数：限10人
    p 费用：300元/人
    p 时间：早上9:30—下午5:30（过年后具体日期待定）
    p 课程内容：新世界和旧世界，葡萄酒酿造，葡萄品种，读懂酒标，葡萄酒品试等
    p 课程酒单（共10款）
    p 宝马副牌（梅多克三级装副牌）
    p 佳德美（梅多克五级庄）
    p 佐米cava（与香槟同样工艺酿造的气泡酒）
    p 魔帽（现代设备酿造的气泡酒）
    p 奔富洛神（新世界最具代表性的流通酒）
    p 拉菲传奇（拉菲/罗斯柴尔德家族旗下的OEM品牌）
    p ？？？（陆续公布）
    p ？？？（陆续公布）
    p ？？？（陆续公布）
    p ？？？（陆续公布）
